*{
    margin: 0px;
    padding: 0px;
}
div{
    box-sizing: border-box;
}
.top-login{
        width: 100%;
        height: 60px;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        background-color: white;
    }
    .t-text{
    text-align: center;
    margin: 0 auto;
    padding-right: 35px;
}
.item-box>.item{
        width: 100%;
        height: 50px;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        padding: 0px 10px;
        background-color: white;
    }
    .center-text{
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .right{
        font-size: 14px;
        color: gray;
        margin-top: 15px;
    }
    .icon {
       width: 1em;
       height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
}
    .sz{
      text-decoration: none;
      color: black;
      font-size: 14px;
      float: left;
    }
    .bottom{
        width:300px;
        height:30px;
        background-color: #f00;
        margin: 0 auto;
        margin-top: 20px;
    }
    .tc{
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding-top: 4px;
    }