@font-face {
  font-family: "iconfont"; /* Project id 3716284 */
  src: url('iconfont.woff2?t=1671621849375') format('woff2'),
       url('iconfont.woff?t=1671621849375') format('woff'),
       url('iconfont.ttf?t=1671621849375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan1:before {
  content: "\e619";
}

.icon-xiaoxi1:before {
  content: "\e63c";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fenxiang_2:before {
  content: "\e601";
}

.icon-gengduo-shuxiang:before {
  content: "\e8c4";
}

.icon-hengdengyu:before {
  content: "\e60e";
}

.icon-huo1:before {
  content: "\e606";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-shanchu_o:before {
  content: "\eb83";
}

.icon-huo-copy:before {
  content: "\ec36";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-icon_tianjia:before {
  content: "\eb89";
}

.icon-shouye1:before {
  content: "\e751";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-guanzhu:before {
  content: "\e60f";
}

.icon-wode1:before {
  content: "\e8a0";
}

.icon-pifuzhuti-xianxing:before {
  content: "\e91e";
}

.icon-shangcheng1:before {
  content: "\e65a";
}

.icon-xiaoxitongzhi:before {
  content: "\ec35";
}

.icon-caogaoxiang:before {
  content: "\e603";
}

.icon-24gl-headset:before {
  content: "\ea0a";
}

.icon-liulanjilu:before {
  content: "\e63a";
}

.icon-shandian:before {
  content: "\e8b6";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-xiaoxi:before {
  content: "\e8bd";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-chukoutuishui_chukoufapiaopikai:before {
  content: "\e940";
}

.icon-tianjia-copy:before {
  content: "\e8ba";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-shangcheng:before {
  content: "\e647";
}

.icon-shouye:before {
  content: "\e70e";
}

.icon-taolunqu:before {
  content: "\e8b9";
}

